<div class="wrapper" [ngClass]="{ 'stop-scroll': isAnyOverlayOpen() }">
  <app-header></app-header>

  @if (homeRoute) {
  <main>
    @for (genre of genre; track $index) {
    <div class="row-wrapper">
      <h2>{{ genre }}</h2>
      <div class="video-row">
        @for (video of dataManager.publicVideos[genre.toLowerCase()]; track
        $index) {
        <app-video-card
          (click)="openVideoPlayer(video)"
          [video]="video"
        ></app-video-card>
        }
      </div>
    </div>
    }
  </main>
  } @else if (privateRoute) {
  <main>
    @if (dataManager.privateVideos.length > 0 ) {
    <div class="row-wrapper">
      <h2>Your private Videos</h2>
      <div style="flex-wrap: wrap" class="video-row">
        @for (video of dataManager.privateVideos; track $index) {
        <app-video-card
          (click)="openVideoPlayer(video)"
          [video]="video"
        ></app-video-card>
        }
      </div>
    </div>
    }@else{
    <div class="no-videos-wrapper">
      <h2>Looks Quite Empty</h2>
      <p>
        You haven't uploaded any videos yet. Start by uploading your private
        videos
        <span (click)="openUploadVideo()">here.</span>
      </p>
    </div>
    }
  </main>
  }@else {
  <main class="error-page">
    <h2>Welcome to Our Platform!</h2>
    <p>
      You've landed on the homepage. If something didn't work as expected, you
      can either click on the
      <a routerLink="/home" [queryParams]="{ visibility: 'private' }"
        >private videos</a
      >
      or
      <a routerLink="/home" [queryParams]="{ visibility: 'public' }"
        >public videos</a
      >
      links to proceed.
    </p>
  </main>
  } @if(menuService.uploadOverlayOpen){
  <app-video-upload-overlay></app-video-upload-overlay>
  }@if (menuService.userOverlayOpen) {
  <app-user-overlay></app-user-overlay>
  }@if (menuService.deleteUserOverlayOpen) {
  <app-delete-user-overlay></app-delete-user-overlay>
  } @if (videoPlayerOpen && selectedVideo) {
  <app-video-player-overlay
    [video]="selectedVideo"
    (close)="closeVideoPlayer()"
  ></app-video-player-overlay>
  }
</div>
