<div class="wrapper">
  <app-header></app-header>

  <main class="header-margin">
    <h1>Imprint</h1>
    <h2>Information according to § 5 DDG</h2>
    <p>
      Tobias Bayer<br />
      Warthestraße, 10<br />
      90571 Schwaig
    </p>
    <h2>Contact</h2>
    <p>
      Phone: <a href="tel:0172 8494147">0172 8494147</a><br />
      E-Mail:
      <a href="mailto:contact@tobias-bayer.dev">contact&#64;tobias-bayer.dev</a>
    </p>
    <p>
      Source:
      <a target="_blank" href="https://www.e-recht24.de"
        >https://www.e-recht24.de</a
      >
    </p>
  </main>

  <app-footer></app-footer>
</div>
